<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Form</title>
</head>
<body>
    <form method="post" action="/posts">
        <label for="username">Username :</label>
        <input placeholder="enter username" name="username" id="username">
        <br><br>
        <textarea placeholder="write your post" name="content"></textarea>
        <br><br>
        <button>Submit post</button>
    </form>
    <br><br>
    <a href="http://localhost:8080/posts/new">Create New Post</a>
</body>
</html>